<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768169289761-pvrc4kglltg0enjs8srcqak540q91sel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768169289761-pvrc4kglltg0enjs8srcqak540q91sel</string>
	<key>API_KEY</key>
	<string>AIzaSyBkv9AvG8otXwahZS9xkcemTDQB5eLXXo8</string>
	<key>GCM_SENDER_ID</key>
	<string>768169289761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AkashDesai.PLLTR</string>
	<key>PROJECT_ID</key>
	<string>plltr-3fcdf</string>
	<key>STORAGE_BUCKET</key>
	<string>plltr-3fcdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768169289761:ios:0ff31b8d75a38f4e081b60</string>
	<key>DATABASE_URL</key>
	<string>https://plltr-3fcdf.firebaseio.com</string>
</dict>
</plist>